<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.cdt.CdtModel"
            dialog="org.eclipse.epsilon.emc.cdt.dt.CdtModelConfigurationDialog"
            icon="icons/cdtmodel.gif"
            label="C/C++ (CDT) Model"
            type="CDT">
      </modelType>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.operationContributor">
      	<operationContributor
            class="org.eclipse.epsilon.emc.cdt.ICProjectOperationContributor">
    	</operationContributor>
      	<operationContributor
            class="org.eclipse.epsilon.emc.cdt.ICompilationUnitOperationContributor">
      	</operationContributor>
   </extension>


</plugin>
